@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Quicksand';
    
}

h1{
    color: white;
    font-size: 65px;
    font-weight: bold;
    text-shadow: 4px 4px 3px rgb(165, 161, 182);
}

.headerMain{
    font-size: 20px;
    padding: 40px;
    background-color: transparent;
    text-align: center;
    color: white;

}

body{
    background-image: url(https://cdn3.f-cdn.com/contestentries/1489974/18545046/5cba2aba229c4_thumb900.jpg);
}

footer {
    padding: 20px;
    color: white;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
 }