@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
* {
    font-family: 'Gemunu Libre';
    box-sizing: border-box;
    
}
.list-item{
    margin-bottom: 8px;
}
.list-item > p ,button{
    display: inline;
    font-size: 20px;
    border-radius: 8px;
    margin-right: 8px;
    
}
.list-item > button {
    box-shadow: 0 4px 8px 0 rgba(49, 44, 44, 0.2); 

}
.list-item > button {
     box-shadow: 0 4px 8px 0 rgba(49, 44, 44, 0.2); 
}
.list-item > p {
    margin-right: 10px;
    font-size: 20px;
}

h1 {
   color:white;
   font-size: 65px;
   font-weight: bold;
   text-shadow: 4px 4px 3px rgb(165, 161, 182);
}

head{
    display: inline;
 }

 .addItemButton {
    width: 70px;
    height: 40px;
    border-radius: 8px;
    color :black;
    background:white;
    font-size: 18px; ;
}
.inputBox {
    width: 300px;
    height: 40px;
    size: 20px;
    border-radius:  8px;
    font-size: 18px;
}
body{
    margin: 0;
    padding: 0;
}
.mainPanel {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
 }

.inputSection {
    background-color : black;
    padding: 20px;
}

button:hover{
    font-weight: bolder;
}

.cardbox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px
    
}


   


